.products {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  //   grid-gap: 15px;
  display: flex;
  flex-wrap: wrap;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;

  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);

  flex: 0 1 250px;
  width: 250px;
  margin: 10px;
  min-height: 1px;

  &__body {
    padding: 10px 20px;
    position: relative;
    height: 200px;
  }
  &__img {
    background-color: #eee;
    margin: 20px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    & > img {
      width: 100%;
      height: 210px;
    }
  }
  &__discount {
    position: absolute;

    top: 31px;
    background: lightgreen;
    left: 0;
    padding: 5px;
    font-size: 11px;
    color: #fff;
  }
  &__footer {
    background-color: #eaeaea;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    &__left {
      flex-basis: 50%;
      font-weight: bold;
      font-size: 11px;
      .old-price {
        text-decoration: line-through;
        padding-right: 10px;
      }
      .new-price {
        color: #999;
      }
    }
    &__right {
      text-align: right;
      display: flex;
      align-items: center;
    }
  }
}

/* Mobile Devices */
@media (max-width: 480px) {
  .product {
    width: 100%;
    flex: 0 0 auto;
    margin: 0 0 10px 0;
  }
}

/* low resolution  Tablets, Ipads */
/* @media (min-width: 481px) and (max-width: 767px) {
      body {
        
      }
    } */

/* Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
  }
}
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
  }
}
